body {
    margin: 0;
    font-family: arial;
}

* {
    box-sizing: border-box;
}

header {
    overflow: hidden;
    width: 100vw;
    height: 50px;
    padding: 15px 15px 10px 15px;
    border-bottom: lightgrey 1px solid;
    /* the proper shadow code is found at: https://stackoverflow.com/questions/3971880/how-to-make-shadow-on-border-bottom*/
    box-shadow: 0 4px 6px -6px #222;
    z-index: 10;
    top: 0;
    position: fixed;
    background-color: white;
    display: flex;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #b7e51d;
    width: 65%;
}

.title:hover {
    cursor: pointer;
}

.right-header {
    width: 35%;
}

.view-change-btn {
    float: right;
    right: 0;
    visibility: hidden;
}

main {
    margin-top: 50px;
    display: flex;
    z-index: 5;
}

.list-view {
    width: 40%;
    min-height: calc(100vh - 100px);
    order: 1;
    border-right: lightgrey 1px solid;
    box-shadow: 4px -4px 6px -6px #222;
    z-index: 2;
}

.search {
    padding: 15px;
    display: flex;
    border-bottom: lightgrey 1px solid;
    box-shadow: 0 4px 6px -6px #222;
    position: fixed;
    height: 62px;
    background-color: white;
    width: 39.9%;
    z-index: 5;
}

.btn {
    background-color: #a6c63b;
    color: white;
    font-size: 1.1em;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    border: #a6c63b 1px solid;
    color: #a6c63b;
}

.btn:focus {
    outline: none;
}

.search .btn {
    margin-left: 15px;
    white-space: nowrap;
}

#search-box {
    width: 280px;
    height: 32px;
    font-size: 1.1em;
}

#search-box:focus {
    outline-color: #b7e51d;
}

.company-list-container {
    margin-top: 100px;
}

.company-list-title {
    padding-left: 15px;
}

.note {
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    color: #999;
}

.note strong {
    text-transform: uppercase;
    color: #b7e51d;
    font-weight: normal;
}

.source {
    color: #555;
    font-size: 0.8em;
    padding-left: 15px;
    padding-bottom: 20px;
}

.link {
    color: #a6c63b;
}

.company-list {
    list-style: none;
    padding-left: 0;
}

.company-list li {
    padding-left: 15px;
    border-top: 1px lightgrey solid;
    padding: 20px;
}

.company-list li:hover {
    cursor: pointer;
    color: #b7e51d;
}

.company-info {
    background-color: #e5f2bc;
    margin: 80px 15px 20px 15px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 2px 2px 10px 2px #bbb;
}

.company-info img {
    width: 100%;
    max-height: 400px;
}

.company-info a {
    color: #a6c63b;
}

.company-info .google-logo {
    width: 144px;
}

.attribution {
    text-align: right;
    list-style: none;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
}

.attribution li {
    padding-left: 10px;
}

.show-job-btn {
    margin-bottom: 30px;
    margin-left: 15px;
    width: 130px;
}

.job-list-title {
    padding-left: 15px;
}

.error {
    color: coral;
    padding-left: 15px;
}

#indeed_at a {
    color: #a6c63b;
    padding-left: 20px;
}

.job-list {
    list-style: none;
    padding: 15px;
}

.job-list li {
    border: 1px lightgrey solid;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px 1px #ddd;
}

.job-title {
    color: #b7e51d;
    font-weight: normal;
    font-size: 1.1em;
    margin-top: 0;
}

.job-info {
    color: #999;
    font-size: 0.8em;
}

.job-description {
    font-size: 0.9em;
}

.job-list li a {
    color: #a6c63b;
    font-size: 0.8em;
}

.map-view {
    width: 60%;
    right: 0;
    order: 2;
    position: fixed;
    z-index: 1;
}

#map {
    height: calc(100vh - 50px);
    width: 100%;
}

.footer-note {
    font-size: 12px;
    color: white;
    background-color: #555;
    margin: 0;
    padding: 15px 5px 20px 5px;
    text-align: center;
    height: 50px;
    width: 40%;
}


/*responsive design for different screen size*/

@media screen and (max-width: 1200px) {
    .search {
        height: 105px;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .easy-autocomplete {
        width: 100% !important;
    }
    #search-box {
        display: block;
    }
    .search .btn {
        height: 32px;
        width: 130px;
        margin-left: 0;
        margin-right: 20px;
    }
    .search .show-all-btn {
        margin-right: 0;
    }
    .company-list-container {
        margin-top: 140px;
    }
    .company-info-container {
        margin-top: 120px;
    }
}

@media screen and (max-width: 850px) {
    .list-view {
        width: 45%;
    }
    .map-view {
        width: 55%;
    }
    .search {
        width: 44.9%;
    }
    .footer-note {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .search {
        width: 100%;
        height: 62px;
    }
    .search .btn {
        width: 80px;
        margin-left: 15px;
        margin-right: 0;
    }
    .easy-autocomplete {
        width: 280px !important;
    }
    .list-view {
        width: 100%;
        display: none;
    }
    .map-view {
        top: 110px;
        width: 100%;
    }
    #map {
        height: calc(100vh - 110px);
    }
    .footer-note {
        width: 100%;
    }
    .company-list-container {
        margin-top: 100px;
    }
    .company-info-container {
        margin-top: 80px;
    }
    .view-change-btn {
        visibility: visible;
        margin-top: -5px;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 0.95em;
    }
    .search {
        height: 105px;
    }
    .search .btn {
        height: 32px;
        width: 130px;
        margin-left: 0;
        margin-right: 20px;
    }
    .search .show-all-btn {
        margin-right: 0;
    }
    .easy-autocomplete {
        width: 100% !important;
    }
    .map-view {
        top: 155px;
        width: 100%;
    }
    #map {
        height: calc(100vh - 155px);
    }
    .company-list-container {
        margin-top: 140px;
    }
    .company-info-container {
        margin-top: 120px;
    }
}

@media screen and (max-width: 350px) {
    .view-change-btn {
        font-size: 0.95em;
        margin-top: -3px;
    }
}